.footer__menu {
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

@media (max-width: 767px) {    
  .footer__menu {
    flex-direction: column;
    margin-bottom: 48px;
    gap: 32px;
  }
}