.footer__menu {
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

@media (max-width: 767px) {    
  .footer__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 48px;
    gap: 32px;
    margin-right: 18px;
  }
}

@media (max-width: 568px) {    
  .footer__menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    gap: 32px;
    margin-right:0;
  }
}
