.header__link {
  color:#FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  transition: all 0.5s step-start;
}
    
.header__link:hover:after {
  width: 100%;
}
    
.header__link:after {
  display: block;
  content: "";
  height: 2px;
  width: 0;
  background-color: #fff;
  transition: width .3s ease-in-out;
}

@media (max-width: 767px) {
  .header__link {
    font-size: 18px;
    line-height: 20px;
  }
}