.intro {
  margin: 0 auto;
  padding: 92px 48px 0;
  max-width: 984px;
}

@media (max-width: 1023px) {
  .intro {
    padding: 88px 24px 0;
   
  }
}

@media (max-width: 767px) {    
  .intro {
    padding-top: 64px;
  }
}

@media (max-width: 568px) {
  .intro {
    padding-left: 16px;
    padding-right: 16px;
  }
}