.intro {
  margin: 0 auto;
  padding-top: 92px;
  max-width: 984px;
}

@media (max-width: 1024px) {
  .intro {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {    
  .intro {
    padding-top: 64px;
  }
}

@media (max-width: 568px) {
  .intro {
    padding-left: 16px;
    padding-right: 16px;
  }
}