.lead__subtitle {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 64px;
  max-width: 640px;
}

@media (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 40px;
  }
}