.cover {
background:no-repeat center url(./../../../images/cover-trains.jpg);
background-size: cover;
width: 100%;
height: 100%;
max-width: 1184px;
margin: 0 auto;
}


@media (max-width: 1024px) {
  .cover {
    min-height: 640px;
    padding: 0;
  }
}

@media (max-width: 768px) {    
  .cover {
    min-height: 480px;
  }
}

@media (max-width: 568px) {
  .cover {
    min-height: 200px;
  }
}