@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/header/header.css);
@import url(../blocks/title/title.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__subtitle/intro__subtitle.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__item/intro__item.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/places/places.css);
@import url(../blocks/places/__title/places__title.css);
@import url(../blocks/places/__info/places__info.css);
@import url(../blocks/places/__content/places__content.css);
@import url(../blocks/places/__heading/places__heading.css);
@import url(../blocks/places/__image/places__image.css);
@import url(../blocks/places/__list/places__list.css);
@import url(../blocks/places/__item/places__item.css);
@import url(../blocks/places/__website/places__website.css);
@import url(../blocks/places/__url/places__url.css);
@import url(../blocks/places/__paragraph/places__paragraph.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__menu/footer__menu.css);
@import url(../blocks/footer/__item/footer__item.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks);
@import url(../blocks);

.page {
  box-sizing: border-box;
  max-width: 1280px;
  background-color: #2A2C2F;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding:0 48px;
}

@media (max-width: 1280px) {
  .photo-grid {
    gap:14px;
    grid-template-columns: repeat( 4, 1fr); 
  }
}

@media (max-width: 1024px) {
  .lead {
    padding-left: 0;
    padding-right: 0;
  }

  .lead__caption {
    padding-left: 24px;
  }

  .photo-grid {
    gap:14px; 
    grid-template-columns: repeat(3, 1fr);
  }

  .page {
    padding: 0;
    margin: 0 auto;
  }

  .header,.intro,.places,.photo-grid,.footer {
    padding-left:24px;
    padding-right: 24px;
  }

  .places {
    max-width: none;
  }

  .places__heading,.places__info {
    gap:32px;
  }

  .places__image {
    max-width: 440px;
    max-height: 440px;
  }

  .cover {
    min-height: 640px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 16px 16px 0;
  }

  .header__link {
    font-size: 18px;
    line-height: 20px;
  }
    
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .lead__subtitle{
    font-size: 16px;
    line-height: 20px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 40px;
  }
     
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .intro,.photo-grid,.places{
    padding-top: 64px;
  }

  .photo-grid {
    gap: 16px;   
    grid-template-columns: repeat(2, 1fr); 
  }

  .places__list {
    gap: 72px;
  }

  .places__image {
    max-width: 340px;
    max-height: 340px;

  }
  .places__title {
    font-size: 32px;
    line-height: 46px;
    padding-right: 10px;
  }

  .places__paragraph {
    font-size: 16px;
  }

  .cover {
    min-height: 480px;
  }

  .footer {
    flex-direction: column;
    padding-top: 64px;
  }

  .footer__menu {
    flex-direction: column;
    margin-bottom: 48px;
    gap: 32px;
  }

  .footer__item{
    align-self: flex-start;
  } 
}

@media (max-width: 568px) {
  .header__logo {
    max-width: 142px;
  }
  .places__heading,.places__info {
    grid-template-columns: 1fr;
  }
  .photo-grid {
    gap:16px;
    grid-template-columns: 1fr;
  }

  .intro,.photo-grid,.footer {
    padding-left:16px;
    padding-right: 16px;
  }

  .places {
    padding-left:0;
    padding-right:0;
  }

  .places__heading {
    padding: 0 16px;
  }

  .places__list {
    gap: 50px;
  }

  .places__paragraph {
    padding-left:16px;
    padding-right: 16px;
  }

  .cover {
    min-height: 200px;
  }

  .cover__title {
    font-size: 40px;
    line-height: 44px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 33px 0 16px;
 }
 .cover__subtitle{
    font-size: 16px;
    line-height: 20px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 33px;
  }
}