.places__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

@media (max-width: 1024px) {
  .places__info {
    gap:32px;
  }
}

@media (max-width: 568px) {
  .places__info {
    grid-template-columns: 1fr;
  }
}