.cover__title {
  font-family: Inter, Arial, sans-serif;
  text-decoration: none;
  text-align: center;
  max-width: 560px;
  margin-top: 0;
  margin-bottom: 32px;
  position: relative;
  z-index: 5;
}

@media (max-width: 568px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom:16px;
  }
}