.footer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 92px 0 24px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {    
  .footer {
    flex-direction: column;
    padding-top: 64px;
  }
}

@media (max-width: 568px) {
  .footer {
    padding-left: 16px;
    padding-right: 16px;
  }
}