.places__website {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: all 0.5s;
}

.places__website:hover {
  opacity: 0.8;
  transition: all 0.5s;
}